@page "/"

<PageTitle>Index</PageTitle>

<h1 style="text-align:center">SOFTPRODIGY SYSTEM SOLUTIONS</h1>


<h3 style="color:cadetblue">MAKE YOUR BUSINESS A PART OF THE DIGITAL REVOLUTION WITH US!</h3>
<a href="https://softprodigy.com/">Click Me..!</a>
